name: Generate ICS for ATP Finals 2025

on:
  push:
    paths:
      - 'matches.csv'  # uruchamia workflow tylko gdy zmieni się harmonogram
  workflow_dispatch:   # pozwala uruchomić ręcznie z GitHub UI

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.x'

    - name: Install dependencies
      run: pip install icalendar pytz

    - name: Generate ICS
      run: python generate_ics.py

    - name: Commit and push ICS
      run: |
        git config --global user.name "github-actions[bot]"
        git config --global user.email "github-actions[bot]@users.noreply.github.com"
        git add ATP_Finals_2025_Singles_Turin.ics
        git commit -m "Update ICS from GitHub Actions" || echo "No changes to commit"
        git push
